In [1]:
import pandas as pd

In [2]:
#The path to CSV file
file = "/Users/monicachao/Desktop/DatascienceBootcamp/Project1/Climate-Project-Repo/lajollasealeveltrends.csv"
# Read data into pandas
df = pd.read_csv(file)

In [3]:
#grabbing column names
df.columns

Index(['Year', ' Month', ' Monthly_MSL', ' Unverified', ' Linear_Trend',
       ' High_Conf.', ' Low_Conf.'],
      dtype='object')

In [4]:
#because this csv file has a space before all the header names
renameddf = df.rename(columns={" Monthly_MSL":"MSL1", " Month": "MSL", " Unverified":"Unverified", " Linear_Trend":"Linear Trend",
                       " High_Conf.":"High Conf", " Low_Conf":"Low Conf"})
renameddf

renameddf.to_csv("test.csv", encoding="utf-8", index=True)

In [5]:
#grabbing only year and mean sea level rise/fall for graphing

fixeddf = renameddf.rename(columns={"Year":"Month"})

#TEST: fixeddf.to_csv("test.csv", encoding="utf-8", index=True)

In [6]:
newdf = fixeddf[["Month", "MSL"]]
newdf
#TEST newdf.to_csv("test.csv", encoding="utf-8", index=True)

      Month  MSL
1920      1  NaN
1920      2  NaN
1920      3  NaN
1920      4  NaN
1920      5  NaN
...     ...  ...
2025      8  NaN
2025      9  NaN
2025     10  NaN
2025     11  NaN
2025     12  NaN

[1272 rows x 2 columns]

In [7]:
#drops any row with N/A in it
droppeddf=newdf.dropna(how='any')
droppeddf

droppeddf.to_csv("cleaneddata.csv", encoding="utf-8", index=True)

In [70]:
#Grabbing means from each year of the sea level rise/fall

In [ ]:
#Graphing, setting x-axis, etc...