In [15]:
import pandas as pd

In [16]:
 # The path to our CSV file
file = "/Users/monicachao/Desktop/DatascienceBootcamp/Project1/Climate-Project-Repo/lajollasealeveltrends.csv"
# Read our Kickstarter data into pandas
df = pd.read_csv(file)

In [17]:
df.columns

Index(['Year', ' Month', ' Monthly_MSL', ' Unverified', ' Linear_Trend',
       ' High_Conf.', ' Low_Conf.'],
      dtype='object')

In [18]:
renameddf = df.rename(columns={" Monthly_MSL":"MSL", " Month": "Month", " Unverified":"Unverified", " Linear_Trend":"Linear Trend",
                       " High_Conf.":"High Conf", " Low_Conf":"Low Conf"})
#because this csv file has a space before all the header names...
df

,Year,Month,Monthly_MSL,Unverified,Linear_Trend,High_Conf.,Low_Conf.
1920,1,NaN,NaN,-0.165,-0.150,-0.180,NaN
1920,2,NaN,NaN,-0.165,-0.150,-0.180,NaN
1920,3,NaN,NaN,-0.165,-0.149,-0.180,NaN
1920,4,NaN,NaN,-0.164,-0.149,-0.179,NaN
1920,5,NaN,NaN,-0.164,-0.149,-0.179,NaN
...,...,...,...,...,...,...,...
2025,8,NaN,NaN,0.064,0.080,0.049,NaN
2025,9,NaN,NaN,0.065,0.081,0.049,NaN
2025,10,NaN,NaN,0.065,0.081,0.049,NaN
2025,11,NaN,NaN,0.065,0.081,0.049,NaN
2025,12,NaN,NaN,0.065,0.081,0.049,NaN

In [19]:
#grabbing only year and mean sea level rise/fall
newdf = renameddf[["Year","MSL"]]
newdf

      Year  MSL
1920     1  NaN
1920     2  NaN
1920     3  NaN
1920     4  NaN
1920     5  NaN
...    ...  ...
2025     8  NaN
2025     9  NaN
2025    10  NaN
2025    11  NaN
2025    12  NaN

[1272 rows x 2 columns]