In [17]:
import pandas as pd 
import matplotlib.pyplot as plt


import numpy as np
from scipy import stats

In [18]:
#The path to CSV file
file = "/Users/monicachao/Desktop/DatascienceBootcamp/Project1/Climate-Project-Repo/lajollasealeveltrends.csv"
# Read data into pandas
df = pd.read_csv(file)

In [19]:
#grabbing column names
df.columns

Index(['Year', ' Month', ' Monthly_MSL', ' Unverified', ' Linear_Trend',
       ' High_Conf.', ' Low_Conf.'],
      dtype='object')

In [36]:
#because this csv file has a space before all the header names
renameddf = df.rename(columns={" Monthly_MSL":"MSL1", " Month": "MSL", " Unverified":"Unverified", " Linear_Trend":"Linear Trend",
                       " High_Conf.":"High Conf", " Low_Conf":"Low Conf"})
renameddf

renameddf.to_csv("test.csv", encoding="utf-8", index=True)

In [37]:
#grabbing only year and mean sea level rise/fall for graphing

fixeddf = renameddf.rename(columns={"Year":"Month"})

#TEST: fixeddf.to_csv("test.csv", encoding="utf-8", index=True)

In [38]:
newdf = fixeddf[["MSL"]]
newdf
#TEST newdf.to_csv("test.csv", encoding="utf-8", index=True)

      MSL
1920  NaN
1920  NaN
1920  NaN
1920  NaN
1920  NaN
...   ...
2025  NaN
2025  NaN
2025  NaN
2025  NaN
2025  NaN

[1272 rows x 1 columns]

In [39]:
#drops any row with N/A in it
droppeddf=newdf.dropna(how='any')
droppeddf

droppeddf.to_csv("cleaneddata.csv", encoding="utf-8", index=True)

new = droppeddf.reset_index()

In [40]:
new = new.rename(columns={"index":"Year"})
new

      Year    MSL
0     1924 -0.225
1     1924 -0.195
2     1925 -0.198
3     1925 -0.207
4     1925 -0.150
...    ...    ...
1114  2019  0.031
1115  2019  0.006
1116  2019 -0.008
1117  2019  0.036
1118  2019  0.020

[1119 rows x 2 columns]

In [50]:
#Grabbing means from each year of the sea level rise/fall
new.groupby("Year").mean().reset_index()
new.to_csv("cleaneddata.csv", encoding="utf-8", index=True)

In [46]:
#Graphing, setting x-axis, etc...

x_axis = new.iloc[:, 0]
MSL = new.iloc[:,1]

0      -0.225
1      -0.195
2      -0.198
3      -0.207
4      -0.150
        ...
1114    0.031
1115    0.006
1116   -0.008
1117    0.036
1118    0.020
Name: MSL, Length: 1119, dtype: float64